<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhb.wms2.module.io.mapper.IoOrderDetailMapper">

    <select id="selectPageByProductId" resultType="com.zhb.wms2.module.io.model.entity.IoOrderDetail">
        select *
        from io_order_detail
        where delete_flag = 0
        <if test="query.productId != null">
            and product_id = #{query.productId}
        </if>
        <if test="query.bizDateStart != null">
            and biz_date <![CDATA[ >= ]]> #{query.bizDateStart}
        </if>
        <if test="query.bizDateEnd != null">
            and biz_date <![CDATA[ <= ]]> #{query.bizDateEnd}
        </if>
        <if test="query.orderType != null">
            and order_type = #{query.orderType}
        </if>
        order by biz_date desc, order_id desc, id desc
    </select>

    <select id="selectStatByQuery" resultType="com.zhb.wms2.module.product.model.vo.StockIoDetailStatVO">
        select coalesce(sum(case
                                when order_type = 1 then qty
                                else 0
            end), 0) as inboundQty,
               coalesce(sum(case
                                when order_type = 2 then qty
                                else 0
                   end), 0) as outboundQty
        from io_order_detail
        where delete_flag = 0
        <if test="query.productId != null">
            and product_id = #{query.productId}
        </if>
        <if test="query.bizDateStart != null">
            and biz_date <![CDATA[ >= ]]> #{query.bizDateStart}
        </if>
        <if test="query.bizDateEnd != null">
            and biz_date <![CDATA[ <= ]]> #{query.bizDateEnd}
        </if>
        <if test="query.orderType != null">
            and order_type = #{query.orderType}
        </if>
    </select>

    <select id="sumDeltaToDetailIdByProductId" resultType="java.lang.Long">
        select coalesce(sum(case
                                when d.order_type = 1 then d.qty
                                else -d.qty
            end), 0)
        from io_order_detail d
        where d.product_id = #{productId}
          and d.id &lt; #{detailId}
          and delete_flag = 0
    </select>

    <select id="selectCurrentStockQtyByDetailIds" resultType="com.zhb.wms2.module.io.model.dto.IoOrderDetailStockQtyDTO">
        select t.id as detailId,
               coalesce(sum(case
                                when d.order_type = 1 then d.qty
                                else -d.qty
                   end), 0) as currentStockQty
        from io_order_detail t
                join io_order_detail d on d.product_id = t.product_id
            and d.delete_flag = 0
            and d.biz_date <![CDATA[ <= ]]> t.biz_date
            and d.order_id <![CDATA[ <= ]]> t.order_id
            and d.id <![CDATA[ <= ]]> t.id
        where t.delete_flag = 0
          and t.id in
        <foreach collection="detailIds" item="detailId" open="(" separator="," close=")">
            #{detailId}
        </foreach>
        group by t.id
    </select>
</mapper>
